.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  h2 {
    color: #2c314a;
    padding: 0 0 1rem;
  }
  form {
    .form-input {
      width: 100%;
      margin: 0.5rem 0 0;
      padding: 0 0 0.25rem;
      position: relative;
      input {
        line-height: 2.2rem;
        font-size: 1rem;
        padding: 0 2rem 0 1rem;
        border: 1px solid #9a9ea1;
        border-radius: 0.5rem;
        outline: none;
      }
      label {
        color: #9a9ea1;
        position: absolute;
        left: 0;
        padding: 0 1rem;
        line-height: 2.2rem;
        transition: 0.2s ease;
        cursor: text;
      }
      .focus-input {
        border: 2px solid #2196f3;
      }

      .focus-label {
        top: -0.5rem;
        font-size: 0.75rem;
        color: #2196f3;
        padding: 0 0.2em;
        margin: 0 1em;
        line-height: 1.2rem;
        z-index: 1;
        background-color: white;
      }
    }
    button {
      width: 100%;
      background-color: #2c314a;
      color: white;
      margin: 1rem 0;
      border: none;
      border-radius: 0.5rem;
      font-size: 1.25rem;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
}
